In [144]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split

In [146]:
df = pd.read_csv(r"C:\db\banka.csv")

In [148]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 143 entries, 0 to 142
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  143 non-null    int64
 1   sorgu       143 non-null    object
 2   label       143 non-null    object
 3   le          143 non-null    int64
dtypes: int64(2), object(2)
memory usage: 4.6+ KB

In [150]:
df.shape

(143, 4)

In [152]:
df.head()

   Unnamed: 0                               sorgu      label  le
0           0             kredi kartımı kaybettim  kartkayip   1
1           1             banka kartımı kaybettim  kartkayip   1
2           2           kredi kartımı bulamıyorum  kartkayip   1
3           3                kredi kartım çalındı  kartkayip   1
4           4  kredi kartımın olduğunu bilmiyorum  kartkayip   1

In [154]:
df = df[["sorgu","label"]]

In [156]:
df.head(3)

                       sorgu      label
0    kredi kartımı kaybettim  kartkayip
1    banka kartımı kaybettim  kartkayip
2  kredi kartımı bulamıyorum  kartkayip

In [158]:
stopwords=['fakat','lakin','ancak','acaba', 'ama', 'aslında', 'az', 'bazı', 'belki', 'biri', 'birkaç', 'birşey', 'biz', 'bu', 'çok', 'çünkü', 'da', 'daha', 'de', 'defa', 'diye', 'eğer', 'en', 'gibi', 'hem', 'hep', 'hepsi', 'her', 'hiç', 'için', 'ile', 'ise', 'kez', 'ki', 'kim', 'mı', 'mu', 'mü', 'nasıl', 'ne', 'neden', 'nerde', 'nerede', 'nereye', 'niçin', 'niye', 'o', 'sanki', 'şey', 'siz', 'şu', 'tüm', 've', 'veya', 'ya', 'yani']

In [160]:
mesaj = input("yapmak istediğiniz işlemi giriniz: ")
mesajdf = pd.DataFrame({"sorgu":mesaj, "label":0},index=[42])
df = pd.concat([df,mesajdf],ignore_index=True) #ignore_index=True olarak ayarlanırsa, eski indeksler dikkate alınmaz ve yeni DataFrame için sıfırdan başlayarak yeni indeksler oluşturulur

for word in stopwords:
    word = " "+word+" "
    df["sorgu"]=df["sorgu"].str.replace(word," ")


cv = CountVectorizer(max_features=50)

x = cv.fit_transform(df["sorgu"]).toarray()[0:-1]
y=df["label"][0:-1]
tahmin=x[-1].copy()
x=x[0:-1]
y=y[0:-1]
x_train,x_test,y_train,y_test= train_test_split(x,y,random_state=21,train_size=0.7)

rf = RandomForestClassifier()
model = rf.fit(x_train,y_train)
skor = model.score(x_test,y_test)

sonuc = model.predict([tahmin])
print("Sonuc:",sonuc,"Skor",skor)

yapmak istediğiniz işlemi giriniz:  mobilden para transferi yapmak istiyorum

Sonuc: ['paragonderme'] Skor 1.0